:root {
    /*--color1: #e54cb9; hexdec color def*/
}

h1 {
    color: blue; /* color name definition*/
    background-color: #7180d4;
    width: 20cm;
}

h2 {
    color: #7180d4; /*hexdec color def*/
    width: 150mm;
}

h3 {
    color: hsla(305, 90%, 38%, 0.31); /*hsla color def*/
    width: 1in;
}

li {
    color: rgb(75, 144, 99); /*rgb color def*/
    width: 10em;
}

p {
    color: var(--color1, color(srgb-linear 0.56 0.53 0.79 / 0.62));
    width: 10rem;
}

input {
    color: color-mix(in srgb, #e54cb9 50%, #7180d4 50%); 
    width: 5vw;
}